


.container{
  min-width: 50%;
  min-height: 450px;
  margin: 0 auto;
  background-color: azure;
  box-shadow: 0 0 10px grey;
  margin-top: 50px;
  padding: 10 50px;
}
.container h1{
  text-align: center;
}
.container h3{
  margin-left: 70px;
}
.container h2{
  text-align: center;
}
.expense-container{
  display: flex;
  justify-content:space-evenly;
  background-color: white;
  box-shadow: grey;
}

/* transaction-list */
.transaction-list{
  margin-left: 50px;
  width: 50%;
  /* margin: 10px 0; */
  padding: 10px 0;
}
.transaction-list >li{
  display: flex;
  justify-content:space-evenly;
  box-shadow: 0 0 10px gray;
  margin: 5px 0;
  background-color: white;
}

/* transaction-form */

.transaction-form{
  margin-left: 50px;
  width: 50%;
  /* margin: 10px 0; */
  padding: 10px 0;
}
